{% load comments %}
{% load markup %}
<article id="cmt" style="float:left;margin-left:50px;margin-top:100px;width:800px;">
    {% get_comment_count for article as comment_count %}    
        <h4 class="muted">{{ comment_count }} Comments</h4>
        <hr class="soften">  
    {% get_comment_list for article as article_com %}
    {% for comment in article_com %}
        <div class="container-fluid none-padding">
            <div class="row-fluid">
                <div class="span10">
                <p class="muted"><small>{{ comment.user_name }}</small><small>{{ comment.submit_date|date:"F,j,Y" }}</small></p>      
                {{ comment.comment|markdown:'safe,codehilite' }} 
                </div>
            </div>           
        </div>
        <hr class="soften">                   
    {% endfor %}
</article>